<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h2>Tem certeza que deseja deletar o registro {{ person.first_name }} {{ person.last_name }}?</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">Sim, deletar!</button>
        <br>
        <br>
        <a href="{% url 'person_list' %}">Listar pessoas</a>
    </form>

</body>
</html>